$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

:root {
  --color-primary: #ff6f61; /* Tomato Red */
  --color-wrapper: #ffd166; /* Golden Yellow */
  --color-grad-2: #ff9f1c; /* Warm Orange */
  --color-grad-1: #ffd166; /* Warm Orange */
  --color-background: #fff;

  --color-primary-variant: #ff922b;

  --color-grey--1: #fff8e1; /* Soft Cream (Background) */
  --color-grey--2: #ffefcf; /* Light Cream (Background) */

  // --color-grey--1: red; /* Soft Cream (Background) */

  --color-grey-light-2: #f5e6c8; /* Light lines (Adjusted for contrast) */

  --color-text-3: #d3c7c3; /* Placeholder Text */
  --color-text-1: #333333; /* Dark Gray (Normal Text) */
  --color-text-2: #555555; /* Lighter Gray Text */

  --color-input-borders: #ddd;
  --color-on-primary: #fff; /* White (On Primary Color) */
  --gradient: linear-gradient(
    to right bottom,
    var(--color-grad-1),
    var(--color-grad-2)
  );
  --wrapper-gradient: linear-gradient(
    to right bottom,
    var(--color-wrapper),
    var(--color-grad-2)
  );
}

[data-theme='dark'] {
  --color-primary: #ffc078;
  --color-wrapper: #121212;
  --color-grad-2: #303030;

  --color-grad-1: #303030;
  --color-primary-variant: #ff922b;

  --color-background: #303030;
  --color-grey--1: #424242;
  --color-grey--2: #383838;
  --color-text--1: #ececec;
  --color-text-2: #bec5c7;
  --color-text--3: #989898;

  --color-input-borders: #121212;
  --color-on-primary: #000;
  --gradient: linear-gradient(
    to right bottom,
    var(--color-primary-variant),
    var(--color-primary-variant)
  );
  --wrapper-gradient: linear-gradient(
    to right bottom,
    var(--color-wrapper),
    var(--color-wrapper)
  );
}

.features__icon {
  text-align: center;
}
*,
:after,
:before {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s;
}

.section {
  padding: 5rem 8rem 0;
  margin-bottom: 6rem;
  text-align: center;
}
body {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text--1);
  background-image: var(--wrapper-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 8vw);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text--1);
  background-image: var(--wrapper-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  background-color: var(--color-background);
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(var(--color-text--1), 0.2);

  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'head head'
    'list recipe';

  @media only screen and (max-width: $bp-small) {
    display: block;
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}