@import 'base';
@import 'components';
@import 'header';
@import 'preview';
@import 'searchResults';
@import 'recipe';
@import 'upload';

.container > div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 4rem;
    }
  }
  